

.headerLogin {
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    color: black;
}

.jumbotron {
    background-color: rgb(17, 17, 17);
    color: white;
}

.display-6 {
    color: white;
    margin-top: 0px;
}

