/* WHY DOES THIS CSS EFFECT THE NAVBAR? */

label{
    color: black;
    font-size: 20px;
    font-weight: bold
}
.errClass{
    color: red;
}

body {
    color: white;
    /* text-align: center; */
}

#findButt {
    padding-left: 20px;
    padding-right: 20px;
}

