.footer {
  min-height: 400px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background-color: rgb(18, 68, 36);
  color: white;
}

span {
  color: black;
}
