body{
  font-family: 'Graduate', cursive;
}
nav.navbar.navbar-default {
  margin-bottom: 0;
}

#nav-banner{
  background-color: rgb(18, 68, 36) !important;
  font-family: 'Graduate', cursive;
}

.logo-img{
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

.navbar-brand{
  font-size: 40px;
  padding-left: 0px;
  margin-left: 0px;
}

.navbar{
  display:flex;
}

#login {
  font-size: 25px;
  padding-left: 60px;
  
}