body{
  font-family: 'Graduate', cursive;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

#nav-banner{
  background-color: rgb(18, 68, 36) !important;
  font-family: 'Graduate', cursive;
}

.logo-img{
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.navbar-brand{
  font-size: 2rem;
}

.navbar{
  display:flex;
  
}